@page
@model IVS.Pages.insurance_provider.viewdataModel
@{
}
@*HTML CODES GO HERE*@
<br/>
<h2> VIEW DATA</h2>
<a class=<'btn btn-primary btn-sm' href='/insurancepro/create'>New Record</a>
<table class="table">
    <thead>
        <tr>
            <th>Coverage ID</th>
            <th>Company</th>
            <th>Medecin Name</th>
            <th>Coverage_status</th>
            <th>Updated By</th>
            <th>Actions</th>

        </tr>
    </thead>
    </thead>
            <tbody>
            @foreach (var item in Model.coveragelist)
            {
            <tr>
            <td>@item.coverageid</td>
            <td>@item.company</td>
            <td>@item.medecin_name</td>
            <td>@item.coverage_status</td>
            <td>@item.updatedby</td>
            <td>
            <a class="btn btn-primary btn-sm" href="/insurancepro/Edit?id=@item.coverageid">Edit</a>
  <a class="btn btn-danger btn-sm" href="/insurancepro/delete?id=@item.coverageid" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>

            </td>
            </tr>
            }
            </tbody>
            
</table>
